# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env
pipeline_debug.log
pipeline.log

# Build artifacts (PyInstaller)
build/
dist/
*.manifest

# Project Specific
downloads/
browser_profile_uc/
Manga/

# OS
.DS_Store
Thumbs.db

# MD
CLAUDE.md
